# Column Transformer

In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [5]:
df= pd.read_csv("C:\\Users\\utkar\\OneDrive\\Documents\\covid_toy.csv")

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [8]:
df.sample(10)

    age  gender  fever   cough       city has_covid
3    31  Female   98.0    Mild    Kolkata        No
52   47  Female  100.0  Strong  Bangalore       Yes
12   25  Female   99.0  Strong    Kolkata        No
70   68  Female  101.0  Strong      Delhi        No
90   59  Female   99.0  Strong      Delhi        No
42   27    Male  100.0    Mild      Delhi       Yes
7    20  Female    NaN  Strong     Mumbai       Yes
16   69  Female  103.0    Mild    Kolkata       Yes
24   13  Female  100.0  Strong    Kolkata        No
62   56  Female  104.0  Strong  Bangalore       Yes

In [9]:
df['age'].value_counts()

age
65    4
19    4
34    4
51    3
64    3
20    3
42    3
69    3
82    3
83    3
5     3
49    3
27    3
14    2
73    2
71    2
80    2
38    2
60    2
23    2
75    2
25    2
12    2
47    2
81    2
24    2
10    2
11    2
16    2
31    1
84    1
33    1
13    1
40    1
70    1
26    1
55    1
74    1
15    1
44    1
66    1
18    1
72    1
22    1
50    1
56    1
6     1
54    1
68    1
8     1
48    1
17    1
46    1
59    1
79    1
Name: count, dtype: int64

In [10]:
df['age'].nunique()

55

In [11]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [12]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [13]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test= train_test_split(df.drop(columns=['has_covid']), df['has_covid'],test_size=0.2)

In [17]:
si= SimpleImputer()
X_train_fever= si.fit_transform(X_train[['fever']])
X_test_fever= si.fit_transform= (X_test[['fever']])

X_train_fever.shape

(80, 1)

In [18]:
X_train_fever

array([[ 98.        ],
       [100.88888889],
       [101.        ],
       [104.        ],
       [101.        ],
       [100.        ],
       [ 98.        ],
       [101.        ],
       [ 99.        ],
       [ 98.        ],
       [ 99.        ],
       [ 98.        ],
       [ 98.        ],
       [100.88888889],
       [ 98.        ],
       [ 99.        ],
       [101.        ],
       [103.        ],
       [100.88888889],
       [104.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.        ],
       [ 99.        ],
       [104.        ],
       [103.        ],
       [104.        ],
       [102.        ],
       [101.        ],
       [102.        ],
       [ 99.        ],
       [100.88888889],
       [102.        ],
       [100.        ],
       [101.        ],
       [100.88888889],
       [101.        ],
       [100.        ],
       [103.        ],
       [102.        ],
       [104.        ],
       [ 99.        ],
       [100.        ],
       [100.        ],
       [101.        ],
       [ 98.        ],
       [100.        ],
       [ 98.        ],
       [100.        ],
       [ 99.        ],
       [103.        ],
       [102.        ],
       [104.        ],
       [104.        ],
       [104.        ],
       [103.        ],
       [104.        ],
       [102.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [101.        ],
       [ 99.        ],
       [100.88888889],
       [ 99.        ],
       [104.        ],
       [100.88888889],
       [101.        ],
       [100.88888889],
       [104.        ],
       [100.        ],
       [104.        ],
       [ 98.        ],
       [101.        ],
       [101.        ],
       [100.        ],
       [102.        ],
       [102.        ],
       [101.        ]])

In [19]:
oe= OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

X_test_cough = oe.fit_transform(X_test[['cough']])
X_train_cough

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.]])

In [21]:
ohe= OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city= ohe.fit_transform(X_train[['gender','city']])
X_test_gender_city= ohe.fit_transform(X_test[['gender','city']])
X_train_gender_city.shape

(80, 4)

In [22]:
X_train_age= X_train.drop(columns=['gender','fever','cough','city']).values
X__test_age= X_test.drop(columns=['gender','fever','cough','city']).values

In [24]:
X_train_transformed=np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
X_test_transformed=np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

NameError: name 'X_test_age' is not defined

# Use of Column Transformer

In [25]:
from sklearn.compose import ColumnTransformer

In [29]:
transformer= ColumnTransformer( transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output= False, drop='first'),['gender','city'])
], remainder='passthrough')

In [33]:
transformer.fit_transform(X_train).shape

(80, 7)

In [32]:
transformer.transform(X_test).shape

(20, 7)

# Sklearn Pipelines

Pipeline with chains together multiple steps so that the output of each step is used as input to the next step.
It make it easy to apply the same processing to train and test

### Without Pipelines

In [35]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier

In [36]:
df= pd.read_csv("C:\\Users\\utkar\\Downloads\\train.csv")

In [39]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
289,290,1,3,"Connolly, Miss. Kate",female,22.0,0,0,370373,7.7500,NaN,Q
716,717,1,1,"Endres, Miss. Caroline Louise",female,38.0,0,0,PC 17757,227.5250,C45,C
515,516,0,1,"Walker, Mr. William Anderson",male,47.0,0,0,36967,34.0208,D46,S
636,637,0,3,"Leinonen, Mr. Antti Gustaf",male,32.0,0,0,STON/O 2. 3101292,7.9250,NaN,S
265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5000,NaN,S

In [46]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'], inplace=True)

In [47]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [48]:
X_train,X_test,y_train,y_test= train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2, random_state=42)

In [49]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

In [50]:
y_train.head()

331    0
733    0
382    0
704    0
813    0
Name: Survived, dtype: int64

In [51]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [52]:
si_age= SimpleImputer()
si_embarked= SimpleImputer(strategy='most_frequent')

X_train_age= si_age.fit_transform(X_train[['Age']])
X_train_embarked= si_embarked.fit_transform(X_train[['Embarked']])

X_test_age= si_age.transform(X_test[['Age']])
X_test_embarked= si_embarked.transform(X_test[['Embarked']])

In [59]:
ohe_sex=OneHotEncoder(sparse_output=False, handle_unknown='ignore')
ohe_embarked=OneHotEncoder(sparse_output=False, handle_unknown='ignore')

X_train_sex=ohe_sex.fit_transform(X_train[['Sex']])
X_train_embarked=ohe_embarked.fit_transform(X_train_embarked)

X_test_sex=ohe_sex.fit_transform(X_test[['Sex']])
X_test_embarked=ohe_embarked.fit_transform(X_test_embarked)

In [63]:
X_train_rem=  X_train.drop(columns=['Sex','Age','Embarked'])

In [65]:
X_train_rem

     Pclass  SibSp  Parch      Fare
331       1      0      0   28.5000
733       2      0      0   13.0000
382       3      0      0    7.9250
704       3      1      0    7.8542
813       3      4      2   31.2750
..      ...    ...    ...       ...
106       3      0      0    7.6500
270       1      0      0   31.0000
860       3      2      0   14.1083
435       1      1      2  120.0000
102       1      0      1   77.2875

[712 rows x 4 columns]

In [67]:
X_test_rem=  X_test.drop(columns=['Sex','Age','Embarked'])

In [68]:
X_train_transformed = np.concatenate((X_train_rem, X_train_age,X_train_sex, X_train_embarked), axis=1)
X_test_transformed = np.concatenate((X_test_rem, X_test_age,X_test_sex, X_test_embarked), axis=1)

In [69]:
clf= DecisionTreeClassifier()
clf.fit(X_train_transformed, y_train)

DecisionTreeClassifier()

In [70]:
y_pred=clf.predict(X_test_transformed)

In [71]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7988826815642458

### With Pipelines

In [73]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [74]:
df= pd.read_csv("C:\\Users\\utkar\\Downloads\\train.csv")

In [75]:
df.drop(columns=['PassengerId', 'Name','Ticket','Cabin'], inplace=True)

In [76]:
df.sample(10)

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
57          0       3    male  28.5      0      0    7.2292        C
814         0       3    male  30.5      0      0    8.0500        S
472         1       2  female  33.0      1      2   27.7500        S
386         0       3    male   1.0      5      2   46.9000        S
634         0       3  female   9.0      3      2   27.9000        S
763         1       1  female  36.0      1      2  120.0000        S
35          0       1    male  42.0      1      0   52.0000        S
687         0       3    male  19.0      0      0   10.1708        S
676         0       3    male  24.5      0      0    8.0500        S
170         0       1    male  61.0      0      0   33.5000        S

In [77]:
X_train,X_test,y_train,y_test= train_test_split(df.drop(columns=['Survived']),df['Survived'],test_size=0.2, random_state=42)

In [78]:
#imputation transformer
trf1= ColumnTransformer([
    ('impute_age',SimpleImputer(),[2]),
    ('impute_embarked',SimpleImputer(strategy='most_frequent'),[6])
], remainder='passthrough')

In [80]:
#onehot encoding
trf2= ColumnTransformer([
    ('ohe_sex_embarked',OneHotEncoder(sparse_output=False,handle_unknown='ignore'),[1,6])
],remainder='passthrough')

In [94]:
#Scaling 
trf3= ColumnTransformer(['scale', MinMaxScaler(), slice(0,10)])

In [95]:
#Feature Scaling 
trf4= SelectKBest(score_func= chi2, k=8)

In [96]:
trf5= DecisionTreeClassifier()

### Create Pipeline

In [97]:
pipe= Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
])

In [99]:
from sklearn import set_config
set_config(display='diagram')

In [100]:
pipe.fit(X_train, y_train)

TypeError: 'MinMaxScaler' object is not iterable